<h2 class="mt-2" style="text-align: center">Authentication using Firebase</h2>
<div *ngIf="!isSignedIn">
  <h2>Sign Up</h2>
  <input
    placeholder="Email"
    class="form-control"
    type="email"
    #emailSignup
    required
  />
  <br />
  <input
    placeholder="Password"
    class="form-control"
    type="password"
    #passwordSignup
    required
  />
  <br />

  <button
    class="btn btn-primary"
    type="submit"
    (click)="onSignup(emailSignup.value, passwordSignup.value)"
  >
    Sign up
  </button>
</div>
<hr />
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input
    placeholder="Email"
    class="form-control"
    type="email"
    #email
    required
  />
  <br />

  <input
    placeholder="Password"
    class="form-control"
    type="password"
    #password
    required
  />
  <br />

  <button
    type="submit"
    class="btn btn-success"
    (click)="onSignin(email.value, password.value)"
  >
    Sign In
  </button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
